body {
  text-align: center;
  background: #282631;
  color: white;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.game {
  margin: 0 auto;
  max-width: 550px;
}

.scoreboard {
  border: 2px white solid;
  border-radius: 4px;
  font-size: 60px;
  text-align: center;
  width: 250px;
  margin: 30px auto;
  padding: 20px 10px;
  position: relative;
}

.label {
  background-color: rgb(165, 62, 62);
  font-size: 18px;
  width: 70px;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  margin: auto;
}

#user-label {
  position: absolute;
  top: 35%;
  left: -50px;
}
#comp-label {
  position: absolute;
  top: 35%;
  right: -50px;
}

.results-table {
  margin: 50px 0;
}

.results-table h2 {
  text-align: left;
}
.results-table span {
  text-align: right;
}

button {
  border-radius: 50%;
  padding: 25px;
  margin: 10px;
  background-color: rgb(94, 94, 182);
  border: none;
  transition: all 200ms ease-in-out;
}

button i {
  font-size: 50px;
  color: rgb(189, 191, 193);
}

button:hover {
  background-color: white;
  cursor: pointer;
}
